:root {
  color-scheme: dark;
}

body {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: midnightblue;
}

h1,
h2,
h3 {
  color: gold;
}

a {
  color: indianred;
}

img {
  max-width: 100%;
}

figure {
  text-align: center;
}